body{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    position: relative;
    /* background-color: rgb(201, 197, 154);? */
}
#nav{margin: 10px;
    width: 99.1%;
    border-radius: 30px;
    border: 2px solid white;
    display: flex;
    background-color: rgba(122, 64, 155, 0.99);
    position:fixed;
}
#nav img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
  /* filter: invert(100%); */
  margin: 5px;
  cursor: pointer;
}
html{
    scroll-behavior: smooth;
}
li{display: inline;
    list-style: none;
}
li a{
   text-decoration: none;
   color: hsl(0, 0%, 100%);
   font-size: 1.7rem;
   margin: 59px;

}
li a:hover{
  
   color: hsl(0, 2%, 80%);
}
li a:active{
  
   color: hsl(0, 2%, 700%);
}
#introImg img{width: 340px;
/* border: 2px solid; */
border-radius: 70px;
height: 500px;
cursor: pointer;

margin: 15px;
background-color: aliceblue;
}
#introImg img:hover{filter: invert(10%);
}
#introDiv{
    /* background-color: rgb(211, 196, 227); */
border-bottom: 2px solid;
display: flex;
flex-direction: row;
position: static;
margin: 20px;
justify-content: center;
align-items: center;
text-align: center;
height: 90vh;
}
#about{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 850px;
}
#about p{margin: 10px;
    font-size: 2.5rem;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#about img{
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin: 10px;
}
#projects{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin: 20px;
    height: 80vh;
    text-align: center;
}
#contact1{    
    border-top: 2px solid;
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 65vh;
    /* justify-content: center; */
    align-items: center;

}
#contact1 input{
  width: 600px;
  height: 50px;
  font-size: 1.2rem;
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
}
#contact1  button{
  width: 200px;
  height: 50px;
  font-size: 1.3rem;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(215, 136, 33);
  cursor: pointer;

  padding: 8px;

}
#contact1 button:hover{
    background-color:hsl(34, 73%, 59%) ;
}
#project1,#project2,#project3{
    border: 2px solid wheat;
display: flex;
flex-direction: column;
background-color:  rgba(122, 64, 155, 0.99);
margin: 20px;
padding: 10px;
border-radius: 10px;
cursor: pointer;
height: 400px;
/* color: aliceblue; */
color: white;
width: 33%;
box-shadow: 7px 2px 20px rgb(12, 7, 7);
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#project1:hover{
    background-color: hsla(278, 42%, 53%, 0.99) ;
}
#project2:hover{
    background-color: hsla(278, 42%, 53%, 0.99) ;
}
#project3:hover{
    background-color: hsla(278, 42%, 53%, 0.99) ;
}

/* #projects::before{
    position: absolute;
    z-index: -1;
    background-color: rgba(150, 101, 196, 0.93);
    /* background-image: url(b1.png); */
/* opacity: 0.9;
content: "";
width:97.5%;
height: 80vh;


} */ 
#project1 #project2 #project3, h1,a{
    font-size: 1.8rem;
    /* color: rgb(255, 213, 0); */
    color: bisque;
}
#project1 #project2 #project3, p{
    font-size: 1.4rem;
    font-family: monospace;
    color: whitesmoke;
}
footer{color: white;
    width: 100%;
    background-color: black;
    text-align: center;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}
.thankyou{
    font-size: 4rem;
    margin: 40px;
    color: green;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 65vh;

}